@model HospitalProject.ViewModel.PatientBillDetailViewModel
@{ ViewBag.Title = "Patient Bill";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml"; }

<style type="text/css">
    a:hover {
        cursor: pointer !important;
    }
</style>

<section>
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Create Patient Bill Details</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <form method="post" class="mt-3" id="patientBillform">
                    <div class="form-group row">
                        <label asp-for="PatientId" class="col-sm-2 col-form-label">Patient Name</label>
                        <div class="col-sm-4">
                            <select asp-for="PatientId" class="form-control" id="ddlPatient"
                                    asp-items="@(new SelectList(ViewBag.PatientDropdown,"Value", "Text"))">
                                <option value="">Select Patient Name</option>
                            </select>
                            <span asp-validation-for="PatientId" class="text-danger field-validation-valid"></span>
                        </div>
                        <label asp-for="RoomId" class="col-sm-2 col-form-label">Room Name</label>
                        <div class="col-sm-4">
                            <select asp-for="RoomId" class="form-control" id="ddlRoom"
                                    asp-items="@(new SelectList(ViewBag.RoomDropdown,"Value", "Text"))">
                                <option value="">Select Room Name</option>
                            </select>
                            <span asp-validation-for="RoomId" class="text-danger field-validation-valid"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="No_of_Days_Admitted" class="col-sm-2 col-form-label">No. of Days Admitted</label>
                        <div class="col-sm-4">
                            <input id="txtNoOfDaysAdmitted" asp-for="No_of_Days_Admitted" class="form-control"
                                   placeholder="No. of Days Admitted" value="">
                            <span asp-validation-for="No_of_Days_Admitted" class="text-danger field-validation-valid"></span>
                        </div>
                        <label asp-for="RoomCharges" class="col-sm-2 col-form-label">Room Charges</label>
                        <div class="col-sm-4">
                            <input id="txtRoomCharges" type="text" asp-for="RoomCharges" class="form-control" placeholder="Room Charges"
                                   value="" autocomplete="off">
                            <span asp-validation-for="RoomCharges" class="text-danger field-validation-valid"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="DoctorId" class="col-sm-2 col-form-label">Doctor</label>
                        <div class="col-sm-4">
                            <select asp-for="DoctorId" class="form-control" id="ddlDoctor"
                                    asp-items="@(new SelectList(ViewBag.DoctorDropdown,"Value", "Text"))">
                                <option value="">Select Doctor</option>
                            </select>
                            <span asp-validation-for="DoctorId" class="text-danger field-validation-valid"></span>
                        </div>
                        <label asp-for="DoctorCharges" class="col-sm-2 col-form-label">Doctor Charges</label>
                        <div class="col-sm-4">
                            <input id="txtDoctorCharges" type="number" asp-for="DoctorCharges" class="form-control" placeholder="Doctor Charges"
                                   value="" autocomplete="off">
                            <span asp-validation-for="DoctorCharges" class="text-danger field-validation-valid"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="MedicineBill" class="col-sm-2 col-form-label">Medicine Bill</label>
                        <div class="col-sm-4">
                            <input id="txtMedicineBill" type="number" asp-for="MedicineBill" class="form-control" placeholder="Medicine Bill"
                                   value="" autocomplete="off" >
                            <span asp-validation-for="MedicineBill" class="text-danger field-validation-valid"></span>
                        </div>
                        <label asp-for="TotalBill" class="col-sm-2 col-form-label">Total Bill</label>
                        <div class="col-sm-4">
                            <input id="txtTotalBill" type="text" asp-for="TotalBill" class="form-control" placeholder="Total Bill"
                                   value="" autocomplete="off">
                            <span asp-validation-for="TotalBill" class="text-danger field-validation-valid"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="PaidBill" class="col-sm-2 col-form-label">Paid Bill</label>
                        <div class="col-sm-4">
                            <input id="txtPaidBill" type="number" asp-for="PaidBill" class="form-control" placeholder="Paid Bill"
                                   value="" autocomplete="off">
                            <span asp-validation-for="PaidBill" class="text-danger field-validation-valid"></span>
                        </div>
                        <label asp-for="RemainingBill" class="col-sm-2 col-form-label">Remaining Bill</label>
                        <div class="col-sm-4">
                            <input id="txtRemainingBill" type="number" asp-for="RemainingBill" class="form-control" placeholder="Remaining Bill"
                                   value="" autocomplete="off">
                            <span asp-validation-for="RemainingBill" class="text-danger field-validation-valid"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="IsDischarge" class="col-sm-2 col-form-label">Is Discharge</label>
                        <div class="col-sm-4">
                            <div>
                                <input type="checkbox" asp-for="IsDischarge" class="form-check-input" id="chkIsDischarge"
                                       data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <input hidden asp-for="BillId" id="hdnBillId" />
                        <input hidden asp-for="BillNumber" id="hdnBillNumber" />
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                                <center>
                                    <input value="Submit" type="submit" id="btnSubmit" class="btn btn-primary" />
                                    <button type="button" id="btnCancel" class="btn btn-primary">Cancel</button>
                                </center>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Patients Details List</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table">
                    <table id="tblPatientBillDetails" class="table table-striped responsive-utilities jambo_table"></table>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        $('#chkIsDischarge').bootstrapToggle('on');

        $('#txtRoomCharges').prop('disabled', true);
        $('#txtDoctorCharges').prop('disabled', true);
        $('#txtTotalBill').prop('disabled', true);
        $('#txtPaidBill').prop('disabled', true);
        $('#txtRemainingBill').prop('disabled', true);
    });

    var jsonData =@Html.Raw(Json.Serialize(Model.TblPatientBillDetails));

    window.operateEvents = {
        'click .editPatientBillDetails': function (e, value, row, index) {
            var _patientBillDetailModel = new PatientBillDetailModel();
            _patientBillDetailModel.resetPatientBillDetailModel();
            Window.existingModel = row;
            _patientBillDetailModel.setPatientBillDetailModel(row);
        }
    }
</script>
<script src="@Url.Content("~/ApplicationScripts/patientbilldetails.js")"></script>
